<ion-view view-title="">
  <ion-content>

        

            <div class="item item-image">
              <img src="img/logo/redtail.jpg">
            </div>
           <div class="item item-body">
              <h2>Redtail Shrimps & More</h2>
              <p>Seafood Restaurant<br>
              Corrales Ext Cagayan de Oro</p>
              <p>Hours Today: 11:00 am - 10:00 pm<br>
              <a href="">Opening Hours</a></p>
              <p><i class="ion-android-phone-portrait"> 880-3950, 0917875534</i></p>
              <button class="button button-block button-positive">
                <i class="ion-edit"></i>
                Write Review
              </button>
            </div>
        
  </ion-content>
</ion-view>