<ion-view view-title="">
  <ion-content>
  		<center><h2>Specialty</h2></center>
  	<div class="row">
	 	<div class="col col-33"><h4>Shrimp</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱300</h4></div>
	</div>
  	<div class="row">
	 	<div class="col col-33"><h4>Crabs</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱300</h4></div>
	</div>
	<div class="row">
	 	<div class="col col-33"><h4>Fisherman's Catch</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱425</h4></div>
	</div>
		<center><h2>Barbeque</h2></center>
	<div class="row">
	 	<div class="col col-33"><h4>Pork Barbeque</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱20</h4></div>
	</div>
  	<div class="row">
	 	<div class="col col-33"><h4>Hot & Spicy</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱20</h4></div>
	</div>
	<div class="row">
	 	<div class="col col-33"><h4>Fish Barbeque</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱20</h4></div>
	</div>
		<center><h2>Rice</h2></center>
	<div class="row">
	 	<div class="col col-33"><h4>Plain Rice</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱12</h4></div>
	</div>
  	<div class="row">
	 	<div class="col col-33"><h4>Garlic Rice</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱15</h4></div>
	</div>
	<div class="row">
	 	<div class="col col-33"><h4>Java Rice</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱15</h4></div>
	</div>
		<center><h2>Beverages</h2></center>
	<div class="row">
	 	<div class="col col-33"><h4>Soft Drinks</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱18</h4></div>
	</div>
  	<div class="row">
	 	<div class="col col-33"><h4>Iced Tea</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱18</h4></div>
	</div>
	<div class="row">
	 	<div class="col col-33"><h4>Mineral Water</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱20</h4></div>
	</div>
	<div class="row">
	 	<div class="col col-33"><h4>Diet Softdrinks</h4></div>
	 	<div class="col col-33 col-offset-50"><h4>₱30</h4></div>
	</div>
  </ion-content>
</ion-view>