<ion-view view-title="">
  <ion-content>

  	<div class="list">
	    <a class="item item-avatar" href="#">
	      <img src="img/avatars/al.jpg">
	      <h2>Al Ryan</h2>
	      <p>High-calibre food and a roster of <br>excellent on-tap offerings score points <br>for this posh pub.</p>
	    </a>

	    <a class="item item-avatar" href="#">
	      <img src="img/avatars/carl.jpg">
	      <h2>Carl</h2>
	      <p>A US-style meat joint at Pump Shoreditch<br> with awesome ribs but a ridiculous booze policy</p>
	    </a>

	    <a class="item item-avatar" href="#">
	      <img src="img/avatars/mark.jpg">
	      <h2>Mark</h2>
	      <p>Everything I eat here is a delight</p>
	    </a>

	    <a class="item item-avatar" href="#">
	      <img src="img/avatars/ubalde.jpg">
	      <h2>Nichole</h2>
	      <p>Modern, fun, meaty cooking</p>
	    </a>

	    <a class="item item-avatar" href="#">
	      <img src="img/avatars/tokoi.jpg">
	      <h2>Tokoi</h2>
	      <p>Best bargain restaurants chosen by<br> the world's top chefs</p>
	    </a>

	    <a class="item item-avatar" href="#">
	      <img src="img/avatars/bahala.jpg">
	      <h2>Bahala</h2>
	      <p>A stylish place, indeed</p>
	    </a>

	    <a class="item item-avatar" href="#">
	      <img src="img/avatars/helena.jpg">
	      <h2>Helena</h2>
	      <p>Caravan park café in old chicken shed makes it into Good Food Guide</p>
	    </a>


	</div>
  </ion-content>
</ion-view>