<ion-view view-title="">
  <ion-content>

    <div class="list">

	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/logo/boyzugba.jpg">
	      <h2>Boy Zugba</h2>
	      <p>Filipino Restaurant</p>
	      <p>Corrales Avenue, Cagayan de Oro City</p>
	      <p>Rating: 5/5</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/logo/led.jpg">
	      <h2>LED KTV and Bar</h2>
	      <p>KTV and Bar</p>
	      <p>Corrales Avenue, Cagayan de Oro City</p>
	      <p>Rating: 4/5</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/logo/redtail.jpg">
	      <h2>Redtail Shrimps & More</h2>
	      <p>Seafood Restaurant</p>
	      <p>Velez, Cagayan de Oro City</p>
	      <p>Rating: 3/5</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/logo/lifestyle.jpg">
	      <h2>Lifestyle District</h2>
	      <p>Bar & Grill</p>
	      <p>Corrales Ext., Cagayan de Oro City</p>
	      <p>Rating: 3/5</p>
	    </a>

	    <a class="item item-thumbnail-left" href="#">
	      <img src="img/logo/butchers.jpg">
	      <h2>Butchers Best Barbeque</h2>
	      <p>Barbeque Restaurant</p>
	      <p>Xavier (Hayes St.), Cagayan de Oro City</p>
	      <p>Rating: 3/5</p>
	    </a>

	</div>
  </ion-content>
</ion-view>